@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');@import "normalize";
@import "variables";
@import "header";
@import "main-block";
@import "comp-block";
@import "progress";
@import "footer";

@font-face {
  font-family: MSC;
  src: url("../fonts/MuseoSansCyrl.otf");
}

p, ul, h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: MSC, sans-serif;
  background-image: url("../img/footer.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}


.container {
  max-width: 1212px;
  margin: 0 auto;
}


